/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Page background */
body {
  background-color: #f4f6f8;
  color: #333;
}

/* Headings */
h1, h2, h3 {
  margin-bottom: 10px;
  color:rgba(255, 131, 0, 1);
}

pk{
    color:rgba(255, 99, 132, 1);
}

/* Buttons */
button {
  background-color: rgba(229, 128, 22, 0.8);
  color: white;
  border: rgba(255, 131, 0, 1);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 3px;
}

button:hover {
  background-color: rgba(229, 128, 22, 0.8);
}

/* Inputs */
input[type="file"] {
  padding: 6px;
}

/* Lists */
ul {
  list-style-type: none;
  padding-left: 0;
}
